


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Your Name Photography Template</title>
<link type="text/css" rel="stylesheet" href="/static/photos/style.css"/>
</head>


<body>
<div id="container">
<div id="header">
<div id="headertitle"><span>Your Name</span><span class="boldtitle">Photography</span></div>
<div id="links"><span><a href="{ %static 'photos/index.html' %}">
  
    {{home}}
  

</a></span> | <span><a href="/static/photos/features.html">
  
    {{feature}}
  

</a></span> | <span><a href="/static/photos/photography.html">
  
    {{photography}}
  

</a></span> | <span><a href="#">
  
    {{store}}
  

</a></span> | <span><a href="/static/photos/services.html">
  
    {{service}}
  

</a></span> | <span><a href="/static/photos/contact.html">
  
    {{contact}}
  

</a></span></div>
</div>
<div id="mainbody">

<div class="header1">Photography</div>

<p class="bodytext"><span class="plugin_picture">
<a href="aaa">
<img src="/media/cms_page_media/28/photo1_7.jpg" alt=""  width="20px"/>
</a>
</span>
<span class="plugin_picture">

<img src="/media/cms_page_media/28/photo2_13.jpg" alt="" />

</span>
<span class="plugin_picture">

<img src="/media/cms_page_media/28/photo2.jpg" alt=""  width="1"/>

</span>
</p>

<p class="bodytext"><span class="spantext"><a href="http://img114.imageshack.us/img114/7632/lazygreenskysbyryano292fu7.jpg" target="_blank">Green in the sky</a></span><span class="spantext"><a href="http://img209.imageshack.us/img209/8127/sky27octbyryano292qv1.jpg" target="_blank">Clusters of Darkbness</a></span><span class="spantext"><a href="http://img474.imageshack.us/img474/6146/natureisnatureisnatureitp2.jpg" target="_blank">Mercury Rising</a></span></p>

<p class="bodytext"><span class="plugin_picture">

<img src="/media/cms_page_media/28/QQ%E5%9B%BE%E7%89%8720130607105415.jpg" alt="hahah" />

</span>
<span class="plugin_picture">
<a href="http://www.baidu.com">
<img src="/media/cms_page_media/28/photo1_5.jpg" alt="" />
</a>
</span>
<span class="plugin_picture">

<img src="/media/cms_page_media/28/photo2_14.jpg" alt="" />

</span>
</p>

<p class="bodytext"><span class="spantext"><a href="http://img114.imageshack.us/img114/7632/lazygreenskysbyryano292fu7.jpg" target="_blank">Green in the sky</a></span><span class="spantext"><a href="http://img209.imageshack.us/img209/8127/sky27octbyryano292qv1.jpg" target="_blank">Clusters of Darkbness</a></span><span class="spantext"><a href="http://img474.imageshack.us/img474/6146/natureisnatureisnatureitp2.jpg" target="_blank">Mercury Rising</a></span></p>

<p class="bodytext"><span class="plugin_picture">

<img src="/media/cms_page_media/28/photo3.jpg" alt="" />

</span>
<span class="plugin_picture">

<img src="/media/cms_page_media/28/photo2_5.jpg" alt="" />

</span>
<span class="plugin_picture">

<img src="/media/cms_page_media/28/photo2_10.jpg" alt="" />

</span>
</p>

<p class="bodytext"><span class="spantext"><a href="http://img114.imageshack.us/img114/7632/lazygreenskysbyryano292fu7.jpg" target="_blank">Green in the sky</a></span><span class="spantext"><a href="http://img209.imageshack.us/img209/8127/sky27octbyryano292qv1.jpg" target="_blank">Clusters of Darkbness</a></span><span class="spantext"><a href="http://img474.imageshack.us/img474/6146/natureisnatureisnatureitp2.jpg" target="_blank">Mercury Rising</a></span></p>
</div>

<div id="footer">All images are copyright to Your Name 2007 &copy; Design by <a href="http://www.pyserwebdesigns.com" target="_blank">Pyser Web Designs</a> | <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fwww.pyserwebdesigns.com%2Fphotography%2Findex.html">Valid XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://www.pyserwebdesigns.com/photography/style.css">Valid CSS</a></div>

</div>
</body>
</html>
