{% load cms_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<title>News-Print</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="Nicole Hernandez." />
<meta name="description" content="A free website layout for those who like traditional newsprint looks." />
<meta name="keywords" content="newsprint, layout, css, template, html, web," />
<link rel="stylesheet" type="text/css" href="/s/main.css" />
<link rel="stylesheet" type="text/css" href="/s/bw.css" />
<link rel="alternate stylesheet" type="text/css" href="/s/sepia.css" title="Sepia" />
  </head>
  <body>

<div id="skiplinks"> <!-- These are the skiplinks found in the top left corner of the page. They increase accessibility for people who are visually impaired. --> 
  <ul>
  <li><a href="#horiz_menu" title="Skip to navigation menu.">Skip to Navigation.</a></li>
  <li><a href="#content" title="Skip to content.">Skip to Content.</a></li>
  </ul>
</div>

<div id="header"> <!-- This is the header, contains the main title, tagline, and the little cost amount. -->
  <h1><a href="index.html" title="Link to home page.">News-Print</a></h1>
  <h2>&sect; For Those Who Want Newsprint Online. &sect; </h2>
  <p id="cost_line">.00&cent;</p>
</div> <!-- end header div -->

<div id="horiz_menu"> <!-- this is the main horizontal menu -->
  <ul><li><a href="#">Breaking News</a></li>
  <li><a href="#">Business</a></li>
  <li><a href="#">Sports</a></li>
  <li><a href="#">Humor</a></li>
  <li><a href="#">Contact</a></li>
  </ul>
</div> <!-- end horizontal menu div -->

<div id="content"> <!-- the beginning of the main content area -->
 <div id="top_article"> <!-- the special top article in the main content -->
 <h2>Latest News</h2>
 <h3>New Design Released for Newsprint Lovers!</h3>
 <p>This is a new design that I created in February 2007. I had a very specific idea in mind when I set out to make this - I wanted a newspaper look for the web. This design is ideal for a site that is focused on content.</p><p>If you try adding pictures in to your content, they actually show up tons more because of the monochromatic style of the design - this is good if you create content based sites because not only is your actual text content featured, if you do use images they aren't competing with a bunch of other images in the design. <a href="#" class="more">[Continue Reading]</a></p>
 </div> <!-- end top article div -->
 
  <div id="secondary_articles"> <!-- the second level, the secondary articles -->
      <div id="secondary_article_1"> <!-- the first article, on the left -->
      <h3>Design Features.</h3>
      <ul><li>Valid XHTML 1.0 Strict and CSS code.</li>
      <li>Accessible design. (Section 508 &amp; WAI AAA)</li>
      <li>Fluid resizable layout.</li>
      <li>Tested successfully in the following browsers:<ul><li>Firefox (Win, Linux &amp; Mac)</li><li> Netscape (Win)</li><li>Opera (Win &amp; Linux)</li><li>Safari</li><li>Internet Explorer (5.01, 5.5, 6, 7)</li><li>Epiphany</li><li>Galeon</li><li>Konqueror</li><li>SeaMonkey</li><li>Flock</li></ul></li>
      <li>No images used in the design. 1 placeholder image provided.</li>
      <li>Two color themes included.</li>
      <li>Sub-page Print version included.</li>
      <li>Formatting examples on sub-page.</li> 
      </ul>
      
      </div> <!-- end secondary article 1 -->
    
      <div id="secondary_article_2"> <!-- the second article, on the right -->
     
      <h3><a href="#">How To Use This Design.</a></h3>
      <p>I am freeing this template according to the <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. That license gives you the right to use this template in any way (commercial or non-commercial), make changes to it, create things based on it, etc... so long as an attribution is made to the author.</p><p>Per this license, please leave the link at the bottom of the footer to my site, though you are free to change the text of that link (such as, 'Based on a design by', etc..) to suit your needs. You can also, alternatively, put a link in your 'About' page or other page as appropriate.</p>
      <h3>Color Themes Provided.</h3>
      <p>There are two color themes provided for the design. The first is the default color theme using the grayscale black / white / grey look. The second color theme is more of a sepia tone design, and uses hues of a yellowed brown look. However, if you do not like either of these color themes, it is <em>extremely</em> easy to create your own. I have split up the CSS files so that the background color is held in a separate CSS file than the main layout CSS. This makes it much easier to change the colors or offer alternate color themes to your users.</p>
      <h3>Help with the Design.</h3>
      <p>I have also included a help text file explaining how to do some of the more common changes to the design. The questions covered include the basics like how to create a new color theme, how to alternate background colors on the sidebar, how to add links, and so on. If you have additional questions, you can visit the <a href="http://www.websitestyle.com/templates/newsprint/" title="The Newsprint design page.">page for this design</a> on my website.</p>
      </div> <!-- end secondary article 2 -->
      
    </div> <!-- end secondary articles of the main content -->
  
  <div id="tertiary_section"> <!-- this is the third level of the content -->
   
    <ul id="tertiary_box1"> <!-- the first box (left) -->
      <li><h4>Recommended Links</h4></li>

        {% if newslist %}
          {% autoescape off %}
          {% for item in newslist %}
            <li><a href="{{item.content}}">{{item.title}}</a></li>
          {% endfor %}
	  {% endautoescape %}
	{% else %}
          <li><a href="#">A link here</a></li>
          <li><a href="#">A link here</a></li>
          <li><a href="#">A link here</a></li>
          <li><a href="#">A link here</a></li>
	{% endif %}
  
    </ul>
    <ul id="tertiary_box2"> <!-- the second box (center) -->
      <li><h4>About</h4></li>
      <li><p>Sed ultrices tortor vitae diam. Donec lectus nulla, dictum ut, sodales vitae, pellentesque vitae, nisi.</p></li>
    </ul>
    <ul id="tertiary_box3"> <!-- the third box (right) -->
      <li><h4>Popular Articles</h4></li>
      <li><a href="#">A link here</a></li>
      <li><a href="#">A link here</a></li>
      <li><a href="#">A link here</a></li>
      <li><a href="#">A link here</a></li>
    </ul> <!-- end the third box -->
  </div> <!-- end tertiary section -->
</div> <!-- end content div -->

  <div id="sidebar"> <!-- begin the sidebar -->
  <ul>
    <li>
      <h2>Search</h2>
      <form id="searchform" action="/index.php">
    <div><label for="searchbox">Enter search query.<input title="Enter your search query." type="text" value="keywords here" id="searchbox" /></label><input type="submit" id="searchsubmit" title="Search!" value="Go" /></div></form>
    </li>
    <li> <!-- class=alt makes the alternate sections have a different background color -->
   <h2>Layout Options</h2>
  <ul>
   <li><a href="index.html">Main Layout</a></li>
   <li><a href="sub.html">Sub Page Layout</a></li>
   <li><a href="print.html">Print Version (for sub pages)</a></li>
  </ul>
<h2>Layout Color</h2>
 <ul>
   <li><a href="main_sepia.html">Main Layout - Sepia</a></li>
   <li><a href="sub_sepia.html">Sub Page - Sepia</a></li>
  </ul> 
</li>
     <li>
  <h2>Image and Text</h2>
  <p class="left"><img src="{%autoescape off%}{% placeholder img_url or %}placeholder.gif {% endplaceholder %}{%endautoescape%}" alt="A placeholder." title="A placeholder." style="width:120px; height: 130px;" /></p>
  <p>Sed ultrices tortor vitae diam. Donec lectus nulla, dictum ut, sodales vitae, pellentesque vitae, nisi. Ut varius velit a sem. Proin fermentum. Sed ultrices tortor vitae diam. Donec lectus nulla, dictum ut, sodales vitae, pellentesque vitae, nisi.</p>
  </li>
  <li class="alt"> <!-- class=alt makes the alternate sections have a different background color -->
   <h2>Advertising</h2>
   <p>This section uses a li with a class=&quot;alt&quot; to make it have a different background color.</p><p>This is very easy to use if you want to create a sidebar where each sectoin has an alternating background color.</p>
  </li>
</ul>
    </div> <!-- end the sidebar -->
  
<div id="footer"> <!-- begin the footer -->
  <p>Copyright 2006 - YourName | Courtesy <a href="http://www.openwebdesign.org" target="_blank">Open Web Design</a></p>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Site Map</a></li>
    <li><a href="#">Accessibility Statement</a></li>
    <li><a href="http://www.websitestyle.com">Design by Website Style</a></li>
  </ul>
</div> <!-- end the footer -->
  </body>
</html>
