<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>Newsline</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="sub.css" />
<link rel="stylesheet" type="text/css" href="print.css" />
  </head>
  <body>
<div id="skiplinks"><ul><li><a href="#horiz_menu" title="Skip to Navigation Menu.">Skip to Navigation.</a></li><li><a href="#content" title="Skip to content.">Skip to Content.</a></li></ul></div>
<div id="header">
  <h1>News-Print</h1>
  <h2>&sect; For Those Who Want Newsprint Online. &sect; </h2>
  <p id="cost_line">.00&cent;</p>
</div> <!-- end header div -->
<div id="horiz_menu">
  <ul><li><a href="#">Breaking News</a></li>
  <li><a href="#">Business</a></li>
  <li><a href="#">Sports</a></li>
  <li><a href="#">Humor</a></li>
  <li><a href="#">Contact</a></li>
  </ul>
</div> <!-- end horizontal menu div -->
<div id="content">
 <div id="sub_page">
 <h2>New Design Released for Newsprint Lovers!</h2>
 <h3 class="meta">February 11th, 2006 - by Nicole Hernandez.</h3>
 <p>Below you will find a series of different styles created for this design. <a href="#" class="more">[Continue Reading]</a></p>
 <h1>H1 Heading</h1><h2>H2 Heading</h2>
<h3>H3 Heading</h3>
<h4>H4 Heading</h4>
<h5>H5 Heading</h5>
<h6>H6 Heading</h6>
<p>This is normal paragraph text. This is normal paragraph text. This is normal paragraph text. This is normal paragraph text. This is normal paragraph text. This is normal paragraph text. This is normal paragraph text.</p>
<p><a href="#">This is a normal link.</a></p>
<p><acronym>An acronym</acronym></p>
<p><code>Some text here that is code.</code></p>
<blockquote><p>A blockquote.</p></blockquote>
<table>
 <thead> <tr> <th colspan="3">Table Heading</th> </tr> </thead>
<tbody>
<tr>
<th>Col 1</th>
<th>Col 2</th>
<th>Col 3</th>
</tr>
<tr>
<th class="sub">Sub head 1</th>
<td>Result 1</td>
<td>Result 2</td>
</tr>
<tr>
<th class="sub">Sub head 2</th>
<td>Result 1</td>
<td>Result 2</td>
</tr><tr>
<th class="sub">Sub head 3</th>
<td>Result 1</td>
<td>Result 2</td>
</tr>
</tbody>
</table>
<h3>Images with class 'right' and 'left'</h3>
<p><img src="placeholder.gif" alt="A placeholder." class="left" />Sed ultrices tortor vitae diam. Donec lectus nulla, dictum ut, sodales vitae, pellentesque vitae, nisi. Ut varius velit a sem. Proin fermentum. Sed ultrices tortor vitae diam. Donec lectus nulla, dictum ut, sodales vitae, pellentesque vitae, nisi. Quisque ultrices, augue dictum posuere tristique, tellus erat pellentesque diam, ac hendrerit arcu orci viverra pede. Quisque ultrices, augue dictum posuere tristique, tellus erat pellentesque diam, ac hendrerit arcu orci viverra pede.</p>
<p>Sed ultrices tortor vitae diam. Donec lectus nulla, dictum ut, sodales vitae, pellentesque vitae, nisi. Ut varius velit a sem. Proin fermentum. Sed ultrices tortor vitae diam. Donec lectus nulla, dictum ut, sodales vitae, pellentesque vitae, nisi. Quisque ultrices, augue dictum posuere tristique, tellus erat pellentesque diam, ac hendrerit arcu orci viverra pede. Quisque ultrices, augue dictum posuere tristique, tellus erat pellentesque diam, ac hendrerit arcu orci viverra pede.</p>
<p><img src="placeholder.gif" alt="A placeholder." class="right" /> Sed ultrices tortor vitae diam. Donec lectus nulla, dictum ut, sodales vitae, pellentesque vitae, nisi. Ut varius velit a sem. Proin fermentum. Sed ultrices tortor vitae diam. Donec lectus nulla, dictum ut, sodales vitae, pellentesque vitae, nisi. Quisque ultrices, augue dictum posuere tristique, tellus erat pellentesque diam, ac hendrerit arcu orci viverra pede. Quisque ultrices, augue dictum posuere tristique, tellus erat pellentesque diam, ac hendrerit arcu orci viverra pede.</p>
<p>Sed ultrices tortor vitae diam. Donec lectus nulla, dictum ut, sodales vitae, pellentesque vitae, nisi. Ut varius velit a sem. Proin fermentum. Sed ultrices tortor vitae diam. Donec lectus nulla, dictum ut, sodales vitae, pellentesque vitae, nisi. Quisque ultrices, augue dictum posuere tristique, tellus erat pellentesque diam, ac hendrerit arcu orci viverra pede. Quisque ultrices, augue dictum posuere tristique, tellus erat pellentesque diam, ac hendrerit arcu orci viverra pede.</p>
<h3>Formatting for Forms</h3>
<form id="form" method="post" action="#">
      <fieldset> <!-- contact info area -->
       <legend>Required contact info:</legend>
        <label for="name">Enter your full name:<br /><input tabindex="0" class="med" type="text" name="contact_name" id="name" value="" /></label><br /> 
        <label for="email">Enter your email address:<br /><input tabindex="0" class="med" type="text" name="email" id="email" size="35" maxlength="40" value="" /></label>
      </fieldset> <!-- end contact info area -->      
      <fieldset> <!-- reasons for contact area -->
       <legend>Subject:</legend>
        <label for="reason">Select the best reason for your message:<br /> 
         <select tabindex="0" class="med" style="cursor:pointer;" name="reason" id="reason">
          <option value="" selected="selected">Please make a selection.</option>
          <option value="To make a comment">To make a comment.</option>
          <option value="To ask a question">To ask a question.</option>
          <option value="Report a site problem">Report a site problem.</option>
          <option value="Other (explain below)">Other (please describe).</option>
         </select>
        </label>
       </fieldset> <!-- end select list area -->    
      <fieldset> <!-- form Comments Area -->
      <legend>Comments area:</legend>
        <label for="message">Enter your message:<br /><textarea tabindex="0" class="textbox" rows="12" cols="60" name="message" id="message"></textarea></label>
      </fieldset>  
      
      <fieldset><!-- Form Buttons -->
       <legend>Send Message:</legend>
         <label for="copy"><input tabindex="0" class="checkbox" type="checkbox" name="copy" id="form-message-copy" value="" />Email a copy of this message to yourself also.</label><br /><br />
         <input tabindex="0" style="cursor:pointer;" class="button" type="submit" alt="Click Button to Send the Message." value="Send Your Message." name="" title="Click Button to Send the Message." />
      </fieldset>
      </form> <!-- end form -->
 </div> <!-- end top article div -->
 
  <div id="tertiary_section">
   
  <ul id="tertiary_box1"><li>
  <h4>Recommended Links</h4></li>
  <li><a href="#">A link here</a></li>
  <li><a href="#">A link here</a></li>
  <li><a href="#">A link here</a></li>
  <li><a href="#">A link here</a></li>
  </ul>
  <ul id="tertiary_box2">
  <li><h4>About</h4></li>
  <li>
    <p>Sed ultrices tortor vitae diam. Donec lectus nulla, dictum ut, sodales vitae, pellentesque vitae, nisi.</p></li></ul>
  <ul id="tertiary_box3">
  <li><h4>Popular Articles</h4></li>
  <li><a href="#">A link here</a></li>
  <li><a href="#">A link here</a></li>
  <li><a href="#">A link here</a></li>
  <li><a href="#">A link here</a></li>
  </ul>
  </div> <!-- end tertiary section -->
</div> <!-- end content div -->

  <div id="sidebar">
  <ul><li>
  <h2>Search</h2><form method="get" id="searchform" action="/index.php">
<div><label for="searchbox">Enter search query.<input title="Enter your search query." type="text" value="" name="s" id="searchbox" /></label><input type="submit" id="searchsubmit" title="Search!" value="Go" /></div></form></li>
  <li class="alt">
<h2>Layout Options</h2>
  <ul>
   <li><a href="main.html">Main Layout</a></li>
   <li><a href="sub.html">Sub Page Layout</a></li>
   <li><a href="print.html">Print Version</a></li>
  </ul>
  
  </li>
 <li>
<h2>Image and Text</h2><p class="left"><img src="placeholder.gif" alt="A placeholder." /></p><p>Aenean sollicitudin malesuada neque. Donec vulputate rutrum lorem. Proin pulvinar. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In nulla magna, vehicula ac, sollicitudin nec, vulputate id, ligula. Suspendisse vel sapien nonummy felis vulputate hendrerit. Donec urna lorem, tempus nec, viverra a, molestie vitae, tortor.</p></li>
</ul>
    </div> <!-- end sidebar -->
  
<div id="footer">
<p>Copyright 2006 - YourName</p>
<ul>
<li><a href="#">Home</a></li>
<li><a href="#">Site Map</a></li>
<li><a href="#">Accessibility Statement</a></li>
<li><a href="http://www.websitestyle.com">Design by Website Style</a></li>
</ul>
</div>
  </body>
</html>
