/* If you want the design to have the sepia look, use this css file. */

body {background-color:#ffe;} /* Main page background color */

a:hover {border-bottom: 1px solid #660;} /* The border under regular text links in the content when you hover */

div#horiz_menu ul, div#sub_page h3.meta, fieldset,thead th, blockquote, div#secondary_article_1, ul#tertiary_box2 li, div#footer, div#sidebar ul li ul li a:link, div#sidebar ul li ul li a:visited, div#sidebar li.alt {background-color:#cc9;} /* The background color of the menu links and sidebar links, plus some additional ones that are the same color */

a.more {border-bottom:none;}
a.more:hover, div#horiz_menu ul li a:hover, div#sidebar ul li ul li a:hover, tbody th.sub {background-color:#996} /* The color of the continue reading link on the main page layout */

div#skiplinks ul li a:hover {color:#663;} /* The hover color of the top skip links (above the main title) */

tbody th {background-color: #663 } /* Background color for part of the table */ 

blockquote {border-left: 3px solid #663;} /* The border for the blockquote */

code {border: 2px solid #663;} /* The border for the code block */
