{% load cms_tags %}
{% load flatpages %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Your Name Photography Template</title>
<link type="text/css" rel="stylesheet" href="{% static 'photos/style.css' %}"/>
</head>


<body>
<div id="container">
<div id="header">
<div id="headertitle"><span>Your Name</span><span class="boldtitle">Photography</span></div>
<div id="links"><span><a href="{ %static 'photos/index.html' %}">{% get_flatpage "/pages/photography/home/" %}</a></span> | <span><a href="{% static 'photos/features.html' %}">{% get_flatpage "/pages/photography/featured-pages/" %}</a></span> | <span><a href="{% static 'photos/photography.html' %}">{% get_flatpage "/pages/photography/photography-link/"%}</a></span> | <span><a href="#">{% get_flatpage "/pages/photography/store/" %}</a></span> | <span><a href="{% static 'photos/services.html' %}">{% get_flatpage "/pages/photography/service/" %}</a></span> | <span><a href="{% static 'photos/contact.html' %}">{% get_flatpage "/pages/photography/contact/" %}</a></span></div>
</div>
<div id="mainbody">

<div class="header1">Photography</div>

<p class="bodytext">{% placeholder photo1 group=image tips="Design for Photography_Photo1" width=216 height=168 %}{% placeholder photo2 group=image tips="Design for Photography_Photo2" width=216 height=168 %}{% placeholder photo3 group=image tips="Design for Photography_Photo3" width=216 height=168 %}</p>

<p class="bodytext"><span class="spantext"><a href="http://img114.imageshack.us/img114/7632/lazygreenskysbyryano292fu7.jpg" target="_blank">Green in the sky</a></span><span class="spantext"><a href="http://img209.imageshack.us/img209/8127/sky27octbyryano292qv1.jpg" target="_blank">Clusters of Darkbness</a></span><span class="spantext"><a href="http://img474.imageshack.us/img474/6146/natureisnatureisnatureitp2.jpg" target="_blank">Mercury Rising</a></span></p>

<p class="bodytext">{% placeholder photo4 group=image tips="Design for Photography_Photo4" width=216 height=168 %}{% placeholder photo5 group=image tips="Design for Photography_Photo5" width=216 height=168 %}{% placeholder photo6 group=image tips="Design for Photography_Photo6" width=216 height=168 %}</p>

<p class="bodytext"><span class="spantext"><a href="http://img114.imageshack.us/img114/7632/lazygreenskysbyryano292fu7.jpg" target="_blank">Green in the sky</a></span><span class="spantext"><a href="http://img209.imageshack.us/img209/8127/sky27octbyryano292qv1.jpg" target="_blank">Clusters of Darkbness</a></span><span class="spantext"><a href="http://img474.imageshack.us/img474/6146/natureisnatureisnatureitp2.jpg" target="_blank">Mercury Rising</a></span></p>

<p class="bodytext">{% placeholder photo7 group=image tips="Design for Photography_Photo7" width=216 height=168 %}{% placeholder photo8 group=image tips="Design for Photography_Photo8" width=216 height=168 %}{% placeholder photo9 group=image tips="Design for Photography_Photo9" width=216 height=168 %}</p>

<p class="bodytext"><span class="spantext"><a href="http://img114.imageshack.us/img114/7632/lazygreenskysbyryano292fu7.jpg" target="_blank">Green in the sky</a></span><span class="spantext"><a href="http://img209.imageshack.us/img209/8127/sky27octbyryano292qv1.jpg" target="_blank">Clusters of Darkbness</a></span><span class="spantext"><a href="http://img474.imageshack.us/img474/6146/natureisnatureisnatureitp2.jpg" target="_blank">Mercury Rising</a></span></p>
</div>

<div id="footer">All images are copyright to Your Name 2007 &copy; Design by <a href="http://www.pyserwebdesigns.com" target="_blank">Pyser Web Designs</a> | <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fwww.pyserwebdesigns.com%2Fphotography%2Findex.html">Valid XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://www.pyserwebdesigns.com/photography/style.css">Valid CSS</a></div>

</div>
</body>
</html>
